---
import '../../styles/pages/posts-index.css';
import PostArchiveHeader from '../../components/posts/PostArchiveHeader.astro';
import PostFeed from '../../components/PostFeed.astro';
import { getPostEntries } from '../../content/post-queries';
import { isPublishedPost, sortPostsByNewest } from '../../content/post-helpers';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_DESCRIPTION } from '../../consts';
import { getUiText } from '../../ui';

const tr = getUiText();
const posts = sortPostsByNewest((await getPostEntries()).filter(isPublishedPost));
---

<BaseLayout title={tr.postsTitle} description={SITE_DESCRIPTION}>
  <main id="main-content" class="posts-main">
    <PostArchiveHeader />
    <PostFeed posts={posts} basePath="/posts" initialVisible={8} />
  </main>
</BaseLayout>
